*.local
.DS_Store
.next
cache
coverage
dist
_cjs
_types
_esm
node_modules
tsconfig*.tsbuildinfo
trace
bench
!examples/trace

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc
