*.local
.DS_Store
.next
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig*.tsbuildinfo
bench
playgrounds/performance/out
# temporary type-testing cache
.attest

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# proxy packages
packages/abitype/abis
packages/abitype/zod