*.local
.DS_Store
.attest
.env
.env.*local
.envrc
.pnpm-debug.log*
.vite-hooks
bench
cache
coverage
dist
docs/pages.gen.ts
node_modules
packages/abitype/abis
packages/abitype/zod
playgrounds/performance/out
tsconfig*.tsbuildinfo
