/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-accent: #dab40b;
  --vp-c-brand: #6da13f;
  --vp-c-brand-light: #7ec242;
  --vp-c-brand-lighter: #93d31c;
  --vp-c-brand-dark: #668d11;
  --vp-c-brand-darker: #52730d;
  --vp-c-text-code: #5d6f5d;
  --vp-code-block-bg: rgba(125,125,125,0.04);
  --vp-code-tab-divider: var(--vp-c-mute-dark);
  /* fix TIP on light: the default one is too light (2 in contrast) */
  --vp-custom-block-tip-text: rgb(12, 124, 108);
  --vp-custom-block-tip-border: rgba(12, 124, 108, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-text-light-2: rgba(56 56 56 / 70%);
  /* fix contrast: lang name on gray code block */
  --vp-c-text-dark-3: rgba(180, 180, 180, 0.7);
}

.dark {
  --vp-code-block-bg: rgba(0,0,0,0.2);
  --vp-c-text-code: #c0cec0;
  /* fix TIP: check the same above (these are the defaults) */
  --vp-custom-block-tip-text: rgb(18, 181, 157);
  --vp-custom-block-tip-border: rgba(18, 181, 157, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
  /* fix lang name: check the same above (this is the default) */
  --vp-c-text-dark-3: rgba(235, 235, 235, 0.38);
}

.vp-code-group .tabs label {
  background-color: transparent;
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */
 
 .DocSearch {
   --docsearch-primary-color: var(--vp-c-brand) !important;
  }
  
/**
 * Footnotes
 * -------------------------------------------------------------------------- */

 .footnotes-sep {
  margin-top: 4rem !important;
 }

/**
 * Site
 * -------------------------------------------------------------------------- */

.VPImage.logo {
  height: 1rem;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

html:not(.dark) pre.shiki.vitesse-dark {
  display: none;
}

html:not(.dark) pre.shiki.vitesse-light {
  display: block;
  background-color: #f6f6f7 !important
}

html:not(.dark) .custom-block div[class*="language-"] {
    background-color: transparent !important;
}

html:not(.dark) .custom-block pre.shiki.vitesse-light {
    background-color: transparent !important;
}

html.dark pre.shiki.vitesse-dark {
    display: block;
}

html.dark pre.shiki.vitesse-light {
    display: none;
}

html.dark pre .arrow {
    background-color: var(--vp-c-brand-darker);
  	border-left: 1px solid var(--vp-c-brand-darker);
	  border-top: 1px solid var(--vp-c-brand-darker);
}

html:not(.dark) pre .arrow {
    background-color: var(--vp-custom-block-tip-bg);
  	border-left: 1px solid var(--vp-custom-block-tip-bg);
	  border-top: 1px solid var(--vp-custom-block-tip-bg);
}

html.dark pre .popover {
    background-color: var(--vp-c-brand-darker);
    color: var(--vp-code-tab-active-text-color);
}

html:not(.dark) pre .popover {
    background-color: var(--vp-custom-block-tip-bg);
    color: var(--vp-c-text-2);
}



/* Overrides */

.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc th, .vp-doc td {
  padding: 6px 10px;
  border: 1px solid #8882;
}

/* h3 breaks SEO => replaced with h2 with the same size */
.home-content h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

img.resizable-img {
  width: unset;
  height: unset;
}

.vp-doc pre.shiki.vitesse-dark > .code-container > code {
  background-color:rgb(18, 18, 18)
}

pre {
  /* In theory shiki will overwrite these, but this is to make sure there are defaults regardless */
  background-color: white;
  color: black;


  /* Give it some space to breathe */
  padding-block: 0.5rem;

  margin-block-end: 3rem;

  /* Important to allow the code to move horizontally; */
  overflow-x: auto;
}
 pre.shiki {
    overflow-x: auto;
}
 pre.shiki:hover .dim {
	 opacity: 1;
}
 pre.shiki div.dim {
	 opacity: 0.5;
}
 pre.shiki div.dim, pre.shiki div.highlight {
	 margin: 0;
	 padding: 0;
  
}
 pre.shiki div.highlight {
	 opacity: 1;
	 background-color: #f1f8ff;
}
 pre.shiki div.line {
	 min-height: 1rem;
}

/** Don't show the language identifiers */
pre.shiki .language-id{
    display: none;
}

/* Visually differentiates twoslash code samples  */
 pre.twoslash {
	 border-color: #719af4;
   overflow:hidden;
}

/* /** When you mouse over the pre, show the underlines */ */
/* pre.twoslash data-lsp { */
/*   cursor:pointer     */
/* } */

/* /** When you mouse over the pre, show the underlines */ */
/* pre.twoslash:hover data-lsp { */
/*     border-color: #747474; */
/*     transition: all 0.2s ease-in-out; */
/* } */

/*  Removing this for now */
/** The tooltip-like which provides the LSP response */
/* .twoslash data-lsp:hover::before, */
/* .twoslash data-lsp:active::before { */
/*     content: attr(lsp); */
/*     position: absolute; */
/*     transform: translate(0, 1.5rem); */
/*      */
/*     float: inline-end; */
/*     display:flex; */
/*     flex: 1; */
/*     background-color: #420420; */
/*     color: #fff; */
/*     text-align: left; */
/*     padding: 0.2rem 0.5rem; */
/*     border-radius: 4px; */
/*     border-width: 1px; */
/*     border-style: solid; */
/*     border-block-end-width: 2px; */
/*     box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), */
/*     0 1px 3px 0 rgb(0 0 0 / 12%); */
/*     font-size: 0.7rem; */
/*     white-space: pre-wrap; */
/*     z-index: 100; */
/* } */


pre .code-container {
	 overflow: auto;
}
The try button
 pre .code-container > a {
	 position: absolute;
	 right: 8px;
	 bottom: 8px;
	 border-radius: 4px;
	 border: 1px solid #719af4;
	 padding: 0 8px;
	 color: #719af4;
	 text-decoration: none;
	 opacity: 0;
	 transition-timing-function: ease;
	 transition: opacity 0.3s;
}
/* Respect no animations */
@media (prefers-reduced-motion: reduce) {
	 pre .code-container > a {
		 transition: none;
	}
}
 pre .code-container > a:hover {
	 color: white;
	 background-color: #719af4;
}
 pre .code-container:hover a {
	 opacity: 1;
}

 pre code {
	 font-size: 11px;
  
	 white-space: pre-wrap;
	 -webkit-overflow-scrolling: touch;
}
 pre code a {
	 text-decoration: none;
}
 pre data-err {
    /* Extracted from VS Code */
	 background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
	 padding-bottom: 3px;
}
 pre .query {
	 margin-bottom: 10px;
	 color: #137998;
	 display: inline-block;
}

  /* In order to have the 'popped out' style design and to not break the layout
  /* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
  /* behind the actual error message.

  /* This sections keeps both of those two in in sync  */

 pre .error, pre .error-behind {
	 margin-left: -14px;
	 margin-top: 8px;
	 margin-bottom: 4px;
	 padding: 6px;
	 padding-left: 14px;
	 width: calc(100% - 20px);
	 white-space: pre-wrap;
	 display: block;
}
 pre .error {
	 position: absolute;
	 background-color: #fee;
	 border-left: 2px solid #bf1818;
	/* Give the space to the error code */
	 display: flex;
	 align-items: center;
	 color: black;
}
 pre .error .code {
	 display: none;
}
 pre .error-behind {
	 user-select: none;
	 visibility: transparent;
	 color: #fee;
}
/* Queries */
 pre .arrow {
	/* Transparent background */ 
	 position: relative;
	 top: -5px;
	 margin-left: 0.1rem;
	/* Edges */
	 transform: translateY(25%) rotate(45deg);
	/* Size */
	 height: 8px;
	 width: 8px;
}
 pre .popover {
	 margin-bottom: 10px;
	 display: inline-block;
	 padding: 0 0.5rem 0.3rem;
	 margin-top: 10px;
	 border-radius: 3px; 
}
/* Completion */
 pre .inline-completions ul.dropdown {
	 display: inline-block;
	 position: absolute;
	 width: 240px;
	 background-color: gainsboro;
	 color: grey;
	 padding-top: 4px;
	 font-family: var(--code-font);
	 font-size: 0.8rem;
	 margin: 0;
	 padding: 0;
	 border-left: 4px solid #4b9edd;
}
 pre .inline-completions ul.dropdown::before {
	 background-color: #4b9edd;
	 width: 2px;
	 position: absolute;
	 top: -1.2rem;
	 left: -3px;
	 content: " ";
}
 pre .inline-completions ul.dropdown li {
	 overflow-x: hidden;
	 padding-left: 4px;
	 margin-bottom: 4px;
}
 pre .inline-completions ul.dropdown li.deprecated {
	 text-decoration: line-through;
}
 pre .inline-completions ul.dropdown li span.result-found {
	 color: #4b9edd;
}
 pre .inline-completions ul.dropdown li span.result {
	 width: 100px;
	 color: black;
	 display: inline-block;
}

/* .twoslash data-lsp { */
/* 	/* Ensures there's no 1px jump when the hover happens */ */
/* 	 border-bottom: 1px dotted transparent; */
/* 	/* Fades in unobtrusively */ */
/* 	 transition-timing-function: ease; */
/* 	 transition: border-color 0.3s; */
/* } */
/* /* Respect people's wishes to not have animations */ */
/*  @media (prefers-reduced-motion: reduce) { */
/* 	 data-lsp { */
/* 		 transition: none; */
/* 	} */
/* } */

/** Annotations support, providing a tool for meta commentary */
.tag-container {
	position: relative;
}
.tag-container .twoslash-annotation {
	position: absolute;
	font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
	right: -10px;
   
	width: 200px;
	color: #187abf;
	background-color: #fcf3d9 bb;
}
.tag-container .twoslash-annotation p {
	text-align: left;
	font-size: 0.8rem;
	line-height: 0.9rem;
}
.tag-container .twoslash-annotation svg {
	float: left;
	margin-left: -44px;
}
.tag-container .twoslash-annotation.left {
	right: auto;
	left: -200px;
}
.tag-container .twoslash-annotation.left svg {
	float: right;
	margin-right: -5px;
}

/** Support for showing console log/warn/errors inline */
pre .logger {
	display: flex;
	align-items: center;
	color: black;
	padding: 6px;
	padding-left: 8px;
	width: calc(100% - 19px);
	white-space: pre-wrap;
}
pre .logger svg {
	margin-right: 9px;
}
pre .logger.error-log {
	background-color: #fee;
	border-left: 2px solid #bf1818;
}
pre .logger.warn-log {
	background-color: #ffe;
	border-left: 2px solid #eae662;
}
pre .logger.log-log {
	background-color: #e9e9e9;
	border-left: 2px solid #ababab;
}
pre .logger.log-log svg {
	margin-left: 6px;
	margin-right: 9px;
}
