name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main

      - name: Lint repo
        run: pnpm lint:repo

      - name: Lint code
        run: pnpm format && pnpm lint:fix

      - name: Update package versions
        run: pnpm version:update
      
      - uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: format'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'

  build:
    name: Build
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main

      - name: Build
        run: pnpm build

      - name: Publint
        run: pnpm test:build

      - name: Check for unused files, dependencies, and exports
        run: pnpm knip --production --ignore-internal

  types:
    name: Types
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        version: ['5.0.4', '5.1.3', '5.2.2', 'latest']

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main

      - name: Use `typescript@${{ matrix.version }}`
        run: pnpm add -D -w typescript@${{ matrix.version }}

      - name: Link packages
        run: pnpm preconstruct
        
      - name: Check types
        run: pnpm typecheck

      - name: Check types (--exactOptionalPropertyTypes false)
        run: pnpm typecheck:propertyTypes

      - name: Bench types
        run: pnpm typebench

      # Redundant with `pnpm typecheck`
      # If Vitest adds special features in the future, e.g. type coverage, can add this back!
      # - name: Test types
      #   run: pnpm test:typecheck

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main

      - name: Run tests
        run: pnpm test:cov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

